* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;

  display: flex;

  align-items: center;
  justify-content: center;
}

.todo {
  border-bottom: 1px solid #DADEE1;
  padding: 10px;
}

.todo:hover {
  background: white;
}

.todo i {

}

.cursor-pointer {
  cursor: pointer;
}
