<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <script  src="https://code.jquery.com/jquery-3.6.0.js"></script> -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>

    <div id="app" class="container">

      <div class="logo">

        <img src="https://www.boolean.careers/images/misc/logo.png">

      </div>

      <div class="row">
        <div class="new-todo">
          <input v-model="" type="toext" class="todo" placeholder="Nuovo todo">
          <button type="button" class="fas fa-times" @click="createNewTodo">Aggiungi</button>
        </div>
        <div class="todos-container">

          <!-- il v-if serve a vedere se nell'array è contenuto qualche elemento -->
          <ul v-if="todos.length > 0">
            <!-- <li class="todo">
              elem 1
              <i class="fas fa-times"></i>
            </li>
            <li class="todo">
              elem 2
              <i class="fas fa-times"></i>
            </li>
            <li class="todo">
              elem 3
              <i class="fas fa-times"></i>
            </li> -->

            <li v-for="todo in todos" class="todo">
            {{todo}}
            <i @click="deleteNewTodo(index)" class="cursor-pointer fas fa-times"></i>
            </li>

          </ul>

          <h2 v-else>Non ci sono elementi</h2>
        </div>
      </div>

    </div>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/script.js"></script>
</html>
